@import url('https://unpkg.com/tacit-css@1.5.1/dist/tacit-css-1.5.1.min.css');

body {
    padding: 0;
    background: #e9e9e9;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.section {
    padding: 10px;
}

.ta-c {
    text-align: center;
}

small {
    color: #555;
}

.channel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #ccc;
}

.channel {
    display: block;
    width: 270px;
    background: #258;
    color: #fff;
    padding: 5px 0;
    margin: 5px;
}

.channel:hover {
    text-decoration: none;
    background: #036;
}

.info {
    max-width: 900px;
    margin: 0 auto;
}
